:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  height: 100%;
}
body {
  overflow: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  height: 100%;
  background-color: transparent;
  user-select: none;
  color: black;
}

h1 {
  font-size: clamp(4rem, 5vw, 6rem);
  line-height: 1.1;
  font-family: "Henny Penny", cursive;
  margin-top: -1.5rem;
  margin-bottom: -0.25rem;

  background: linear-gradient(to left, #fff 40%, #535bf2 50%, #fff 60%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 6s linear infinite;
  @media (min-width: 1024px) {
    font-size: 7.5em;
    margin-top: -3rem;
  }
}

h1 span {
  font-size: 2rem;
  background: white;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.changeable-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all .4s ease;
}

@media (min-width: 1024px) {
  h1 span {
    font-size: 3rem;
  }
}

.logo {
  width: 150px;
}

@media (min-width: 480px) {
  .logo {
    width: auto;
  }
}

button {
  border-radius: 8px;
  border: 0 none;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;

  user-select: none;
}

.click-cat {
  width: 100%;
  max-width: 380px;
  padding: 0;
  cursor: grab !important;
}

.stroke-container {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 368px;
  height: 390px;
}

@media (min-width: 768px) {
  .stroke-container {
    height: 449px;
  }
}

button:focus {
  border: 0 none;
}

button img {
  width: 100%;
}

.counter__txt {
  font-size: 1rem;
  margin-top: 1rem;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.menu-link button {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: pointer !important;
}

@media (min-width: 768px) {
  .counter__txt {
    font-size: 1.5rem;

    line-height: 2.5rem;
  }
}

.counter__value {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .counter__value {
    font-size: 2rem;
  }
}

.footer__bg {
  height: 149px;
  width: 100%;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: contain;
  -webkit-box-shadow: 0px 24px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 24px 0px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 24px 0px 0px rgba(0, 0, 0, 1);
  margin-bottom: -1px;
  transition: all 2s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.footer__bg--2 {
  height: 149px;
  width: 100%;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: contain;
  -webkit-box-shadow: 0px 24px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 24px 0px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 24px 0px 0px rgba(0, 0, 0, 1);
  margin-bottom: -1px;
  transition: all 2.5s ease-in-out;
  transform: translateX(-100%);
}
.footer__menu-container {
  height: calc(100% - 149px);
  background-color: black;
  position: relative;
  z-index: 11;
}
.counter {
  transform: translateY(3px);
}

.main-font {
  font-family: "Modak", cursive;
  font-size: 1.5rem;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  color: white;
}

footer {
  position: absolute;
  bottom: 0rem;
  text-align: center;
  left: 0;
  z-index: 10;
  color: white;
  width: 100%;
}

@keyframes shine {
  to {
    background-position: -200% center;
  }
}

.menu-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(70%);
  transition: all 1.2s ease-in-out;
  overflow: hidden;
  z-index: 10;
}

@media (min-width: 768px) {
  .menu-wrapper {
    transform: translateY(80%);
  }
}

.menu-wrapper.active {
  transform: translateY(5%);
}

.menu-wrapper.active .footer__bg {
  transform: translateX(100%);
}
.menu-wrapper.active .footer__bg--2 {
  transform: translateX(0%);
  transition: all 1.5s ease-out;
}

.white-font {
  color: white;
}

.cat-wrapper {
  transition: all 0.8s ease-in;
  transform: translateY(50%);
  overflow: auto;
}

.menu-wrapper.active .cat-wrapper {
  transform: translateY(0%);
}
